*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
}
a{
    color: #333;
    text-decoration: none;
}
.box{
    width: 298px;
    height: 415px;
    background-color: #fff;
    /* 让块级盒子水平居中对齐 */
    margin: 100px auto;

}
.box img{
    /* 图片和父亲一样宽 */
    width: 100%;
}
.review{
    height: 70px;
    font-size: 14px;
    /* 因为这个段落没有 width属性 所有 padding不会撑开盒子的宽度 */
    padding: 0 28px;
    margin-top: 30px;
}
.appraise{
    font-size: 12px;
    color: #b0b0b0;
    margin-top: 20px;
    padding: 0 28px;
}
.info {
    font-size: 14px;
    margin-top: 15px;
    padding: 0 28px;
}
.info h4 {
    display: inline-block;
    font-weight: 400;
  
}
.info span {
    color: #ff6700;    
}
.info em {
    font-style: normal;
    color: #ebe4e0;
    margin: 0 6px 0 15px;
}
