/*.red{
	background-color: red;

}

.gray{
	background-color: gray;
}

.green{
	background-color: green;
}
.size1{

	width: 100px;
	height: 100px;
}
.size2{
	width: 200px;
	height: 200px;
}
.size3{
	width: 300px;
	height: 300px;
}
*/





/*初始化标签*/
/*em{
	font-style: normal;
	color: #f40;
}
a{
	text-decoration: none;
	color: #424242;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
*/

/*通配符标签*/
/**{
	margin: 0;
	padding: 0;
}
*/

